*.jpg
*.png
*.webm
data
*.avi
*feh_*
*.pkl
*.pickle
*__pycache__*
*tmp*
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*
.python-version

*.code-workspace*

*.so*
*build

*imgui.ini*

#third_party
*logs*

rl2seq

*plot_table*
*tools*

*HW1*

# difftaichi
*.gif
*.npy
output/
log/
loss/
train
trash/
imgs/
goal_state_randam_value.txt
initial_state_randam_value.txt
randam_value.txt

# bc
data/
dt_runs/